<?xml version="1.0" encoding="utf-8"?>
<Root_Element>
  <general combo_duration="0.5" run_duration="0.4" gravity="3" hit_push="20" block_duration="0.25" round_time="90" rounds="3" />
  <you>
    <eve basic_damage="4" apple_toss_speed="20" apple_toss_damage="8" snake_charmer_damage="8" muddy_uppercut_damage="12" health="100" move_speed="8" run_speed="18" jump_power="28" />
    <noah basic_damage="4" the_dove_speed="20" the_dove_damage="8" flash_flood_damage="8" stampede_speed="12" stampede_damage="10" health="100" move_speed="6" run_speed="16" jump_power="28" />
    <moses basic_damage="2" stone_tablet_speed="20" stone_tablet_damage="8" burning_bush_damage="8" frog_rain_damage="12" health="100" move_speed="6" run_speed="16" jump_power="28" />
    <mary basic_damage="4" halo_toss_speed="20" halo_toss_damage="8" baby_toss_speed="0.1" baby_toss_distance="400" baby_toss_damage="10" immaculate_deception_damage="10" health="100" move_speed="6" run_speed="16" jump_power="28" />
    <satan basic_damage="2" pitchfork_fireball_speed="20" pitchfork_fireball_damage="8" headed_dog_damage="12" tail_whip_damage="8" health="100" move_speed="6" run_speed="16" jump_power="28" />
    <jesus basic_damage="4" thorn_toss_speed="20" thorn_toss_damage="8" cross_smash_damage="8" fish_loaves_damage="12" health="100" move_speed="8" run_speed="18" jump_power="28" />
    <god basic_damage="4" lightning_strike_damage="8" god_slap_damage="12" health="100" move_speed="8" run_speed="16" jump_power="28" />
  </you>
  <cpu>
    <arcade>
      <eve basic_damage="4" apple_toss_speed="20" apple_toss_damage="8" snake_charmer_damage="8" muddy_uppercut_damage="12" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="70" move_speed="8" run_speed="18" jump_power="28" offence="80" counter_chance="100" />
      <noah basic_damage="4" the_dove_speed="20" the_dove_damage="8" flash_flood_damage="8" stampede_speed="15" stampede_damage="12" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="50" move_speed="6" run_speed="16" jump_power="28" offence="75" counter_chance="100" />
      <moses basic_damage="4" stone_tablet_speed="20" stone_tablet_damage="8" burning_bush_damage="8" frog_rain_damage="12" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="50" move_speed="6" run_speed="16" jump_power="28" offence="100" counter_chance="100" />
      <mary basic_damage="4" halo_toss_speed="20" halo_toss_damage="8" baby_toss_speed="0.1" baby_toss_distance="400" baby_toss_damage="8" immaculate_deception_damage="10" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="50" move_speed="6" run_speed="16" jump_power="28" offence="100" counter_chance="100" />
      <satan basic_damage="4" pitchfork_fireball_speed="20" pitchfork_fireball_damage="8" headed_dog_damage="10" tail_whip_damage="8" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="50" move_speed="6" run_speed="16" jump_power="28" offence="100" counter_chance="100" />
      <jesus basic_damage="4" thorn_toss_speed="20" thorn_toss_damage="8" cross_smash_damage="8" fish_loaves_damage="12" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="70" move_speed="8" run_speed="18" jump_power="28" offence="80" counter_chance="100" />
      <god basic_damage="4" lightning_strike_damage="8" god_slap_damage="12" health="100" decision_wait="0.5" block_chance="30" hit_wait="1" combo_chance="80" move_speed="6" run_speed="16" jump_power="28" offence="100" counter_chance="100" />
    </arcade>
    <tournament>
      <eve basic_damage="6" apple_toss_speed="20" apple_toss_damage="10" snake_charmer_damage="10" muddy_uppercut_damage="14" health="100" decision_wait="0.5" block_chance="40" hit_wait="1" combo_chance="25" move_speed="6" run_speed="16" jump_power="28" offence="60" counter_chance="100" />
      <noah basic_damage="7" the_dove_speed="20" the_dove_damage="11" flash_flood_damage="11" stampede_speed="18" stampede_damage="15" health="100" decision_wait="0.5" block_chance="45" hit_wait="1" combo_chance="30" move_speed="6" run_speed="16" jump_power="28" offence="70" counter_chance="100" />
      <moses basic_damage="8" stone_tablet_speed="20" stone_tablet_damage="6" burning_bush_damage="12" frog_rain_damage="16" health="100" decision_wait="0.5" block_chance="50" hit_wait="1" combo_chance="40" move_speed="6" run_speed="16" jump_power="28" offence="80" counter_chance="100" />
      <mary basic_damage="10" halo_toss_speed="20" halo_toss_damage="14" baby_toss_speed="0.1" baby_toss_distance="400" baby_toss_damage="14" immaculate_deception_damage="10" health="100" decision_wait="0.5" block_chance="50" hit_wait="1" combo_chance="50" move_speed="6" run_speed="16" jump_power="28" offence="90" counter_chance="100" />
      <satan basic_damage="12" pitchfork_fireball_speed="20" pitchfork_fireball_damage="15" headed_dog_damage="18" tail_whip_damage="15" health="100" decision_wait="0.5" block_chance="50" hit_wait="1" combo_chance="60" move_speed="7" run_speed="17" jump_power="28" offence="100" counter_chance="100" />
      <jesus basic_damage="14" thorn_toss_speed="20" thorn_toss_damage="15" cross_smash_damage="15" fish_loaves_damage="20" health="100" decision_wait="0.5" block_chance="60" hit_wait="1" combo_chance="70" move_speed="8" run_speed="18" jump_power="28" offence="100" counter_chance="100" />
      <god basic_damage="15" lightning_strike_damage="20" god_slap_damage="20" health="100" decision_wait="0.1" block_chance="70" hit_wait="1" combo_chance="100" move_speed="9" run_speed="19" jump_power="28" offence="100" counter_chance="100" />
    </tournament>
  </cpu>
  <scores hit_score="50" special_score="80" time_multiplier="100" health_multiplier="100" />
</Root_Element>